[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-s3-folder-storage = "*"
collectfast = "*"
pillow = "*"
djangorestframework = "*"

[requires]
python_version = "3.8"
