[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
appdirs = "==1.4.4"
certifi = "==2020.6.20"
distlib = "==0.3.1"
django-bootstrap-form = "==3.4"
filelock = "==3.0.12"
pipenv = "==2020.6.2"
python-decouple = "==3.1"
pytz = "==2019.1"
six = "==1.15.0"
sqlparse = "==0.3.0"
virtualenv = "==20.0.27"
virtualenv-clone = "==0.5.4"
Django = "==2.2.10"
Pillow = "==6.2.2"
psycopg2-binary = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"
