body {
    background: lightseagreen;
}

header {
    color: white;
    text-align: center;
    margin: 30px 0 10px 0;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}


body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */

/* Add a background color when the inputs get focus */


/* Extra styles for the cancel button */

/* Add padding to container elements */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  margin: auto;
  overflow: auto; /* Enable scroll if needed */
  background-color:lightblue;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
