body {
    background: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    margin: 30px 0 10px 0;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
