{% extends 'base/base.html' %}

{% block title %} Login {% endblock %}

{% block main %}

	<header>
		<h1>Portal Álgebra Linear</h1>
	</header>
	<section class="row">
		<div class="col">

		</div>

		<div class="col-10 col-sm-9 col-md-7 col-lg-5 text-justify shadow p-3 mb-5 bg-white rounded align-center">
			<h2 style="margin-bottom: 10px !important">Fazer Login</h2>
			{% for message in messages %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
			<form action="{% url 'base:login' %}" class="form-signin" method="post">
				{% csrf_token %}
				<div class="form-group row">
					<label for="inputUsername" class="col-sm-2 col-form-label">Usuário</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputUsername" name="username"
							   placeholder="Nome de usuário" required>
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label">Senha</label>
					<div class="col-sm-10 input-group">
						<input type="password" class="form-control" placeholder="Senha" id="password" name="password"
							   aria-label="Senha" aria-describedby="show_password">
						<div class="input-group-append">
							<span class="input-group-text bg-light" id="icon_spam"><i class="fa fa-eye-slash"
																					  aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="col"><a href="{% url 'base:password_reset' %}" class="float-right small">Esqueci a
						senha</a>
					</div>
				</div>

				<div class="form-group row">
					<div class="col">
						<button type="submit" class="btn btn-primary">Entrar</button>
						<a href="{% url 'base:novo_usuario' %}" class="btn btn-success">Cadastre-se</a>
					</div>
					<div class="col-2">
						<a href="{% url 'base:home' %}" class="btn btn-secondary float-right">Voltar</a>
					</div>
				</div>
			</form>
		</div>

		<div class="col">

		</div>
	</section>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script>
        $('#icon_spam').on('click', function (e) {
            $(this).find('i').toggleClass('fa-eye-slash fa-eye')
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        });
	</script>
{% endblock %}