{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block title %} Recadastrar Senha {% endblock %}

{% block main %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|bootstrap }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}