{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block title %} Recadastrar Senha {% endblock %}

{% block main %}
<header>
    <h1>Portal Unipac<br>Geometria Analítica</h1>
</header>
<section class="row">
        <div class="col">

        </div>
        
        <div class="col-10 col-sm-9 col-md-7 col-lg-6 text-justify shadow p-3 mb-5 bg-white rounded align-center">
            <div>
                <form method="POST" class="form-signin">
                    {% csrf_token %}
                    <legend class=" border-bottom mb-4">Redefinir Senha</legend>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">
                            {{ form|bootstrap }}
                            <button class="btn btn-outline-primary font-weight-bold" type="submit">Enviar</button>
                            <a href="{% url 'login' %}" class="btn btn-outline-secondary font-weight-bold float-right">Voltar</a>
                        </div>  
                        <div class="col-lg-6">
                            <div class="alert alert-primary small mt-2 text-left">
                                Para redefinir sua senha basta nos informar seu email que lhe manderemos uma mensagem com o passo a passo para a alteração.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col">

        </div>
</section>
{% endblock %}

{% block footer %}
<footer class="card-footer fixed-bottom small">
    Projeto de iniciação cientfica realizada pelos alunos da Computação <br>
    &copy; UNIPAC 2019
</footer>

{% endblock %}