{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block main %}
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.id }} - {{ usuario.nome }} - <img src="{{ usuario.foto }}" alt=""></li>
        {% endfor %}
    </ul>

    <div>
        <form action="{% url 'novo_usuario' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Salvar</button>

        </form>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}