{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block title %} Aulas {% endblock %}

{% block main %}
<div class="container">
    <div class="container-fluid m-3">
        <div class="jumbotron">
            <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/{{user.profile.aula_atual.link}}" allowfullscreen>
                </iframe>
            </div>

            <a href="{% url 'aula_anterior' %}" class="btn btn-secondary font-weight-bold">Voltar</a>
            <a href="{% url 'exercicio' %}" class="btn btn-success font-weight-bold">Avançar</a>

            {% if user.profile.aula_atual.material %}
            <a href="{{ user.profile.aula_atual.material.url }}" target="_blank"
                class="btn btn-primary font-weight-bold">Material</a>
            {% endif %}
        </div>
    </div>

</div>



<!--{{user.profile.aula_atual.link}}-->




{% endblock %}



{% block footer %}
<footer class="mb-4 small">
    Projeto de iniciação cientfica realizada pelos alunos da Computação <br>
    &copy; UNIPAC 2019
</footer>
{% endblock %}